{% extends "base.html" %}

{% block content %}

<div class="flex-1 pr-5">
    <div style="margin-top: 20px; margin-left: 20px;">
    <div class="flex m-4">
        <h2 class="text-lg font-semibold text-gray-800 mb-4 vazir-bold">ثبت کودک برای حمایت</h2>
    </div>
      
    <div class="grid grid-cols-1 mt-4 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for kid in kids %}
            <div class="bg-white rounded-lg shadow-md p-6">
                <h3 class="text-xl text-center font-semibold text-gray-800 mb-3 vazir-bold">{{ kid.firsname }} {{ lastname }}</h3>
                <div class="grid grid-cols-1 gap-y-3 text-gray-700 vazir-normal">
                    <div><strong>خانواده:</strong>{{ kid.family }}</div>
                    <div><strong>خانواده:</strong>{{ kid.father_name }}</div>
                    <div><strong>تولد:</strong> {{ kid.birth_date }}</div>
                    <div><strong>کد ملی:</strong> {{ kid.national_id }}</div>
                </div>
                <div class="flex gap-2 mt-4 vazir-normal no-print" role="group">
                    <a href="#">
                        <button type="button" class="cursor-pointer px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-700 focus:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-500 dark:focus:text-white">
                            ثبت
                        </button>
                    </a>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content%}