{% extends "base.html" %}  

{% block content %}  


<div style="justify-content: center;margin-top: 5rem;" class="flex">
    <div class="bg-white shadow-lg rounded-lg p-6 w-86">
        {% if supporter.is_active %}
        <h2 class="vazir-semibold text-2xl">آیا از غیرفعال کردن این طرح اطمینان دارید؟</h2>
        {% else%}
        <h2 class="vazir-semibold text-2xl">آیا از فعال این طرح اطمینان دارید؟</h2>
        {% endif %}
        <h3 class="vazir-medium text-xl">نام طرح: {{ supporter.name }}</h3>
        <h3 class="vazir-medium text-xl">شماره تماس: {{ supporter.contact_number }}</h3>
        <form class="confirm-delete-form" method="post">  
            {% csrf_token %}
            <div class="mt-3 ml-8">
                <button type="submit" class="custom-button text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 shadow-lg shadow-lime-500/50 dark:shadow-lg dark:shadow-lime-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">بله اطمینان دارم</button>  
                <a href="{% url 'supporter-list' %}"><button type="button" class="cursor-pointer text-white bg-red-800 hover:bg-red-900 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5">انصراف</button></a>  
            </div>
        </form>  
    </div>
</div>
{% endblock %} 