{% extends "base.html" %}  
{% load form_filters %}
{% block content %}  
 

<div tabindex="-1" aria-hidden="true" class="relative flex mt-8 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow-sm bg-white shadow-lg">
            <!-- Header modal -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h2 class="vazir-semibold text-xl mr-auto ml-auto">{% if family %}ویرایش بسته  {{ package.name }} {% else %}افزودن  بسته به {{ package.name }}  جدید{% endif %}</h2> 
            </div>
            <!-- Modal body -->
            <form method="post" class="p-4 md:p-5">
                {% csrf_token %}
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <div class="relative z-0 w-full mb-2 group pr-4">
                            <label for="{{ form.family.id_for_label }}" class="block mb-2 vazir-normal text-sm font-medium text-gray-900" >{{ form.family.label }}</label>
                            {{ form.family|add_class:'bg-gray-50 border border-gray-300 text-gray-900 vazir-normal text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2'}}
                        </div>
                    </div>
                    <div class="col-span-2 ">
                        {% comment %} <div class="relative z-0 w-full mb-2 group pr-4">
                            <label for="{{ form.package.id_for_label }}" class="block mb-2 vazir-normal text-sm font-medium text-gray-900" >{{ form.package.label }}</label>
                            {{ form.package|add_class:'bg-gray-50 border border-gray-300 text-gray-900 vazir-normal text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2'}}
                        </div> {% endcomment %}
                    </div>
                    <div class="col-span-2 ">
                        <div class="relative z-0 w-full mb-2 group pr-4">
                            <label for="{{ form.members.id_for_label }}" class="block mb-2 vazir-normal text-sm font-medium text-gray-900" >{{ form.members.label }}</label>
                            {{ form.members|add_class:'bg-gray-50 border border-gray-300 text-gray-900 vazir-normal text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2'}}
                        </div>
                    </div>
                    <div class="col-span-2">
                        <div class="relative z-0 w-full mb-2 group pr-4">
                            <label for="{{ form.distribution_date.id_for_label }}" class="block mb-2 vazir-normal text-sm font-medium text-gray-900" >{{ form.distribution_date.label }}</label>
                            {{ form.distribution_date|add_class:'bg-gray-50 border border-gray-300 text-gray-900 vazir-normal text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2'}}
                        </div>
                    </div>
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                        {{ form.is_active|add_class:'w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 light:bg-gray-600 light:border-gray-500 light:focus:ring-blue-600 light:ring-offset-gray-800 light:focus:ring-offset-gray-800'|add_type:"checkbox"}}
                        </div>
                        <label for="{{ form.is_active.id_for_label }}" class="block mb-2 mr-2 vazir-normal text-sm font-medium text-gray-900" >{{ form.is_active.label }}</label>
                    </div>
                    
                </div>



                <button type="submit" class="custom-button cursor-pointer text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    ذخیره
                </button>
                <a href="{% url 'package_detail' package.pk %}"><button type="button" class="cursor-pointer text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 ">انصراف</button></a>

                {% if family %}
                    <a href="{% url 'family_deactivate' family.pk %}"><button type="button" class="cursor-pointer text-white bg-red-800 hover:bg-red-900 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 ">حذف</button></a>  
                {% endif %}
            </form>
        </div>
    </div>
</div> 



{% endblock %} 