{% extends "base.html" %}


{% block content %}
<div class="py-5 vazir-medium no-print">
    <a href="{% url 'family_create' %}"><button type="button" class="custom-button cursor-pointer text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">افزودن خانواده جدید</button></a>
</div>
<h2 class="vazir-bold text-2xl">لیست خانواده ها</h2>
<div class="size-16 py-5">
    {% comment %} flex w-full max-w-lg mx-auto no-print {% endcomment %}
    <form method="get" action="{% url 'family_list' %}" id="filter-form" class="flex-options">

        <div class="labels">
            <div class="lable">
                <label for="active-filter" class="text-sm font-medium">:پوشش خانواده</label>
            </div>
            <div class="one-select">
                <select name="active_filter" id="active-filter"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 vazir-normal">
                    <option value="all" {% if request.GET.active_filter == 'all' %} selected {% endif %}>همه</option>
                    <option value="active" {% if request.GET.active_filter == 'active' %} selected {% endif %}>خانواده های
                        فعال
                    </option>
                    <option value="not_active" {% if request.GET.active_filter == 'not_active' %} selected {% endif %}>خانواده های 
                    غیر فعال
                </select>
            </div>
        </div>

        <div class="labels">
            <div class="lable">
                <label for="family-type" class="block mb-2 text-sm font-medium text-gray-900">نوع خانواده:</label>
            </div>
            <div class="one-select">
                <select name="family_type" id="family-type"
                    class="bg-gray-50 border border-gray-300  text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 vazir-normal">
                    <option value="all" {% if request.GET.family_type == 'all' %} selected {% endif %}>همه</option>
                    {% for key,val in family_types.items %}
                        <option value={{ val }} {% if request.GET.family_type.id == val %} selected {% endif %}>خانواده {{ key }}</option>
                    {% endfor %}
                    <option value="2" {% if request.GET.family_type == '2' %} selected {% endif %}>خانواده زندانیان
                    </option>
                    <option value="3" {% if request.GET.family_type == '3' %} selected {% endif %}>خانواده های طلاق
                    </option>
                    <option value="4" {% if request.GET.family_type == '4' %} selected {% endif %}>خانواده های رها شده
                    </option>
                    <option value="5" {% if request.GET.family_type == '5' %} selected {% endif %}>خانواده های بیماران
                    </option>
                    <option value="6" {% if request.GET.family_type == '6' %} selected {% endif %}>خانواده مستمند</option>
                </select>
            </div>
        </div>

        <button type="submit"
            class="custom-button confirm-filter text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 vazir-normal">اعمال
            فیلتر</button>

    </form>
</div>

<div class="relative overflow-x-auto sm:rounded-lg border-none border-gray-700">
    <table style="width: 90%;margin: auto;"
        class="w-full text-sm rtl:text-right text-gray-700 bg-white rounded-lg overflow-hidden">
        <thead class="text-xs text-gray-700 uppercase bg-gray-700 text-white">
            <tr class='vazir-semibold'>
                <th scope="col" class="px-6 py-3 text-end">شماره پرونده</th>
                <th scope="col" class="px-6 py-3 text-right">سرپرست خانوار</th>
                <th scope="col" class="px-6 py-3 text-right">سطح نیاز</th>
                <th scope="col" class="px-6 py-3 text-right">نوع خانوار</th>
                <th scope="col" class="px-6 py-3 text-right">آدرس </th>
                <th scope="col" class="px-6 py-3 text-right">کدپستی</th>
                <th scope="col" class="px-6 py-3 text-right">شماره تماس</th>
                <th scope="col" class="px-6 py-3 text-center no-print">عملیات</th>
            </tr>
        </thead>
        <tbody class="table-content">
            {% for family in families %}
            <tr
                class="tr-table{% if forloop.counter|divisibleby:2 %}bg-white{% else %}bg-indigo-50{% endif %} border-b border-gray-200 hover:bg-gray-50 vazir-normal">
                <th scope="row" class="px-4 py-1 font-medium text-gray-900 whitespace-nowrap ">{{ family.doc_code }}
                </th>
                <td>{{ family.guardian }}</td>
                <td>{{ family.get_need_level_display }}</td>
                <td>{{ family.family_type }}</td>
                <td>{{ family.address }}</td>
                <td>{{ family.postal_code}}</td>
                <td>{{ family.contact_number }}</td>
                <td class="no-print">
                    <div class="flex space-x-1">
                        <a href="{% url 'family_detail' family.pk %}" class="text-green-700 text-sm"><svg
                                class="w-[23px] h-[23px] text-green-700" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                viewBox="0 0 24 24">
                                <path
                                    d="M3 4.92857C3 3.90506 3.80497 3 4.88889 3H19.1111C20.195 3 21 3.90506 21 4.92857V13h-3v-2c0-.5523-.4477-1-1-1h-4c-.5523 0-1 .4477-1 1v2H3V4.92857ZM3 15v1.0714C3 17.0949 3.80497 18 4.88889 18h3.47608L7.2318 19.3598c-.35356.4243-.29624 1.0548.12804 1.4084.42428.3536 1.05484.2962 1.40841-.128L10.9684 18h2.0632l2.2002 2.6402c.3535.4242.9841.4816 1.4084.128.4242-.3536.4816-.9841.128-1.4084L15.635 18h3.4761C20.195 18 21 17.0949 21 16.0714V15H3Z" />
                                <path d="M16 12v1h-2v-1h2Z" />
                            </svg>
                        </a>
                        <a href="{% url 'family_update' family.pk %}" class="text-blue-700 text-sm"><svg
                                class="w-6 h-6 text-blue-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                            </svg>
                        </a>
                        <a href="{% url 'family_deactivate' family.pk %}" class="text-red-700 text-sm"><svg
                                class="w-6 h-6 text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd"
                                    d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function updateFilters() {
        // Automatically submit the form when a filter is changed  
        document.getElementById('filter-form').submit();
    }  
</script>
{% endblock %}