{% extends "base.html" %}

{% block content %}  

<h2 class="vazir-semibold text-2xl">آیا از حذف کردن این دسته بندی اطمینان دارید؟</h2>

<h3 class="vazir-medium text-xl">نام دسته بندی: {{family_type.name }}</h3>
  
<form method="post">  
    {% csrf_token %}  
    <button type="submit" class="custom-button text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 shadow-lg shadow-lime-500/50 dark:shadow-lg dark:shadow-lime-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">بله اطمینان دارم</button>  
</form>  
<a href="{% url 'family_type_list' %}"><button type="button" class="text-white bg-gray-800 hover:bg-gray-900 cursor-pointer focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 ">انصراف</button></a>  
{% endblock %} 