{% extends "base.html" %}


{% block title %} Mohsenin{% endblock  %} 


{% block content %}


<h1 class="vazir-thin test-base">ملین جان کیانی ته ملگین شوکانی </h1>
<h1 class="vazir-extralight">ملین جان کیانی ته ملگین شوکانی </h1>
<h1 class="vazir-light">ملین جان کیانی ته ملگین شوکانی </h1>
<h1 class="vazir-normal ">ملین جان کیانی ته ملگین شوکانی </h1>
<h1 class="vazir-medium">ملین جان کیانی ته ملگین شوکانی </h1>
<h1 class="vazir-semibold">ملین جان کیانی ته ملگین شوکانی </h1>
<h1 class="vazir-bold">ملین جان کیانی ته ملگین شوکانی </h1>
<h1 class="vazir-extrabold">ملین جان کیانی ته ملگین شوکانی </h1>
<h1 class="vazir-black">ملین جان کیانی ته ملگین شوکانی </h1>




{% endblock  %}